@model IEnumerable<Watermango.Models.Plant>

@{
    ViewBag.Title = "Watermango";
}

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

<div id="watermango" class="mt-5">
    <div class="container">
        <div class="row">
            <div class="position-absolute d-flex flex-column p-4">
                <template v-for="(plant, index) in plantsArr">
                    <div v-bind:id="'plant' + plant.id" class="toast ml-auto" role="alert" data-delay="700" data-autohide="false">
                        <div class="toast-header">
                            <strong class="mr-auto text-danger">Needs watering</strong>
                            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="toast-body">
                            Hey, there! {{ plant.name }} needs watering!
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </div>
    <h2>Watermango</h2>

    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Status
            </th>
            <th>
                Last Watered
            </th>
            <th></th>
        </tr>

        <tr v-for="(plant, index) in plantsArr">
            <td>
                @*@Html.DisplayFor(modelItem => item.Name)*@
                {{plant.name}}
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Status)*@
                {{plant.status}}
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.LastWatered)*@
                {{plant.lastWateredUTC}}
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                    @Html.ActionLink("Water", "Water", new { id = item.Id })*@
                <button type="button" class="btn btn-success" v-on:click="waterPlant(plant, index, $event)">Water Plant</button>
            </td>
        </tr>

    </table>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastWatered)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastWatered)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |*@
                    @Html.ActionLink("Water Plant", "Water", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>

<script>

    var app = new Vue({
        el: '#watermango',
        data: {
            plantsArr: [],
            plant: '',
        },
        created: function () {
            this.getPlants();
            $('#spinner').hide();
        },
        mounted: function () {
            this.$nextTick(function () {
                setTimeout(function checkWater() {
                    app.getPlants();
                    app.isWateredToast()
                    setTimeout(checkWater, 60000);
                }, 1000);
            });
        },
        methods: {
            waterPlant: function (plant, index, e) {
                var thisPlantBtn = e.target;
                this.getPlants();
                var tempPlant = app.plantsArr[index];
                var date = new Date(tempPlant.lastWatered);
                var lastWateredUTC = new Date(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate(), date.getUTCHours(), date.getUTCMinutes(), date.getUTCSeconds());
                var seconds = lastWateredUTC.getTime() / 1000;
                var now = new Date(Date.now());
                var currentSeconds = now.getTime() / 1000;
                var diff = currentSeconds - seconds;
                if (currentSeconds > seconds + 30) {
                    console.log("It's been over 30 seconds since last watered. You can water it now! " + currentSeconds + " - " + seconds + " = " + diff);
                    $('#plant' + plant.id + '.toast').toast("hide");
                    thisPlantBtn.disabled = true;
                    setTimeout(function () {
                        axios
                            .put('https://localhost:44373/api/plants/' + plant.id).then(function (response) {
                                var tempArr = response.data;
                                tempArr.forEach(function (plant) {
                                    var date = new Date(plant.lastWatered);
                                    var lastWateredUTC = new Date(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate(), date.getUTCHours(), date.getUTCMinutes(), date.getUTCSeconds());
                                    plant["lastWateredUTC"] = lastWateredUTC;
                                })
                                app.plantsArr = tempArr;
                            })
                            .finally(function () { thisPlantBtn.disabled = false;})
                    }, 10000);
                }
                else {
                    console.log("It hasn't been 30 seconds yet, you will need to wait!" + currentSeconds + " - " + seconds + " = " + diff);
                    thisPlantBtn.disabled = false;
                }
            },
            getPlants: function () {
                axios
                .get('https://localhost:44373/api/plants')
                .then(function (response) {
                    var tempArr = response.data;
                    tempArr.forEach(function (plant) {
                        var date = new Date(plant.lastWatered);
                        var lastWateredUTC = new Date(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate(), date.getUTCHours(), date.getUTCMinutes(), date.getUTCSeconds());
                        plant["lastWateredUTC"] = lastWateredUTC;
                    })
                    app.plantsArr = tempArr;
                });
            },
            isWateredToast: function () {
                this.plantsArr.forEach(function (plant) {
                    if (plant.status === "Needs water!")
                        $('#plant'+plant.id + '.toast').toast("show");
                });
            } 
        }
    })
</script>